/* THE ASTERISK (*) MEANS EVERY ELEMENT, STYLE 
*{
    margin: 0;
    padding: 0;
}
*/

body {
  /* COLORS */
  background-color: #f4f4f4;
  color: #555555;
  /* FONTS */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* SHORTER WAY */
  font: normal 16px Arial, Helvetica, sans-serif;
  /* HEIGHT BETWEEN THE LINES */
  line-height: 1.6em;
  margin: 0;
}

/* A IS A GLOBAL STYLE */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: red;
}
a:active{
    color:green;
}
/* a:visited{
    color: #000;
}
/*
/* TO TARGET A CLASS: USE DOT (.) THEN THE NAME (EG. .BOX-1) */
.container {
  width: 80%;
  margin: auto;
}

.box-1 {
  background-color: #333;
  color: white;

  border-right: 5px red solid;
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;
  /* SAME AS ABOVE */
  border: 5px red solid;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  /* SAME AS ABOVE */
  padding: 20px;
}

.box-1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: normal;
}

.box-2 {
  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}
.categories {
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0;
  list-style: square;
  list-style: none;
}
.categories li{
    padding-bottom: 8px;
    border-bottom: dotted 1px #333;
}

